<div class="message-container <%= current_user == message.user ? "current_user_true" : "current_user_false" %>" id="message-<%= message.id %>">
  <i class="author">
    <span><%= message.user.name %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p><%= message.content %></p>
</div>
