<div class="col-12 container py-5 px-5" style="background-color: rgba(250,209,72,0.8);">
  <div class= "col-md-6 p-4 my-5 mx-auto" style= "background: white; border-radius:10px; border:4px solid; border-color: #7A75FC;">
  <h2 class= "d-flex justify-content-center" style="color:#7A75FC;">nova tarefa</h2>

    <%= simple_form_for(@task) do |f| %>
      <%= f.input :user_id,
            label: 'meu kiddo',
            as: :check_boxes,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            required: true,
            input_html: {class: 'category-selector'},
            collection: @user_family %>

      <%= f.input :title, label:'tarefa' %>
      <div class="d-flex justify-content-left">
        escola
        <%= f.input :home, label:'casa', input_html: { class: "toggle" }  %>
      </div>
      <%= f.input :deadline, label:'prazo', as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :points, label: 'estrelas', collection: TASKS_POINTS %>

      <div class="d-flex justify-content-center">
      <%= f.submit 'adicionar', class:'btn-action' %>
      </div>
    <% end %>
  </div>
</div>
