<div class="container">
  <div class= "col-12 container py-5 px-5" style="background-color: rgba(250,209,72,0.8);">
    <div class= "col-md-6 p-4 my-5 mx-auto" style= "background: white; border-radius:10px; border:4px solid; border-color: #5AC2C9;">

    <h3 style='color:#5AC2C9;'>mande novamente instruções de desbloqueio</h3>

    <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :unlock_token %>

      <div class="form-inputs">
        <%= f.input :email,
                    label: 'email',
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions btn-action-blue">
        <%= f.button :submit, "Resend unlock instructions" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
