<div class="container.fluid new-task">
  <div class="d-flex flex-column">
    <h3 class="align-self-center"><%= @chatroom.name %></h3>
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render("messages/message", message: message) %>
    <% end %>
    </div>
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "escreva sua mensagem na #{@chatroom.name}" %>
    <% end %>
  </div>
</div>

