<div class="container.fluid show-chatroom">
  <div class="row">
    <div class="col-12 ">

      <h3 class=""><%= @chatroom.name %></h3>
      <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
        <% @chatroom.messages.each do |message| %>
          <%= render("messages/message", message: message) %>
        <% end %>
      </div>
      <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "escreva sua mensagem na #{@chatroom.name}" %>
      <% end %>

    </div>
  </div>
</div>
