<div class="container">
  <div class="row">
    <div class="col col-md-3 mt-5 border">
      <% if @user.photo.present? %>
        <%= cl_image_tag(@user.photo.key, class: "avatar-large", alt: "avatar-large") %>
      <% else %>
        <%= image_tag("piggy-green.svg", class: "avatar-large", alt: "avatar-large") %>
      <% end %>
      <div>
      <h2><%= @user.name %></h2>
      <p>acompanhe as tarefas e conquistas de <%= @user_family.count %> kiddos ! </p>
      </div>
      <%= link_to(new_user_invitation_path) do %>
        <%= image_tag("add-kid.svg") %>
      <% end %>
    </div>

    <div class="col col-md-9 d-flex flex-wrap justify-content-between align-content-around mt-5 border">

      <% @user_family.each do |family_member| %>
        <%= render('shared/card-filho', family_member: family_member) %>
      <% end %>
    </div>
  </div>
