<div class="container-fluid family-index">
  <div class="row">
    <div class="col-12 col-md-4 mb-4">
      <div class="family-info">
        <%= render("shared/avatar", family_member: @user) %>
        <h2><%= @user.name %></h2>
        <% if @user.admin? %>
          <p>acompanhe as tarefas e conquistas de <%= @user_family.count %> kiddos!</p>
          <%= link_to(new_user_invitation_path, class: "btn-add-kid") do %>
            <%= image_tag("add-kid.svg") %>
          <% end %>
        <% end %>
      </div>
      <%= link_to("family chatroom", chatroom_path(@family_chatroom), class: "btn-action") %>
    </div>
    <div class="col-12 col-md-8">
      <div class="family-cards">
        <% if @user.admin? %>
          <% @user_family.each do |family_member| %>
            <%= render('shared/card-filho', family_member: family_member, css_class: "m-2") %>
          <% end %>
        <% else %>
          <%= render('shared/card-filho', family_member: @user, css_class: "m-2") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
