<div class="card-filho <%= css_class %>">

  <div class="card-filho-icons">
    <div class="card-filho-info">
      <% if family_member.photo.present? %>
        <%= cl_image_tag(family_member.photo.key, class: "avatar-large", alt: "avatar-large") %>
      <% else %>
        <%= image_tag("piggy-green.svg", class: "avatar-large", alt: "avatar-large") %>
      <% end %>
      <p><%= family_member.name %></p>
    </div>

    <div class="card-filho-info">
      <%= image_tag("btn-task.svg") %>
      <p>tarefas: <%= family_member.tasks.count %> </p>
    </div>
    
    <div class="card-filho-info">
      <%= image_tag("btn-calendar.svg") %>
      <p>prazos: <%= family_member.tasks.where.not(deadline: nil).count %> </p>
    </div>

  </div>

  <div class="card-filho-icons">
    <div class="card-filho-info">
      <%= image_tag("btn-target.svg") %>
      <p>metas: <%= family_member.goals.where(finished: true).count %></p>
    </div>

    <div class="card-filho-info">
      <%= image_tag("btn-cup.svg") %>
      <p>conquistas: <%= family_member.goals.where(finished: true).count %></p>
    </div>

    <div class="card-filho-info">
      <%= image_tag("btn-justice.svg") %>
      <p>punições: <%= family_member.punishments.all.count %></p>
    </div>

  </div>
</div>