<div class="punishments-card <%= css_class %>">
  <div class="punishments-card-date">
    <i class="fas fa-balance-scale"></i>
    <p><%= punishment.date.day %>-<%= punishment.date.month %><br>
      <%= punishment.date.year %></p>
  </div>
  <div class="punishments-card-infos">
    <h4><%= punishment.title %></h4>
    <p>Penalização aplicada: <strong> <%= punishment.points %></strong><%= svg_tag("star.svg") %></p>
  </div>
</div>
