<div class="card-family-member-info">
  <%= link_to(url_path) do %>
    <%= render("shared/avatar", family_member: family_member) %>
  <% end %>
  <br>
  <%= family_member.name %>: <%= family_member.points %> <%= svg_tag("star.svg") %>
</div>
