<div class="card-filho <%= css_class %>">
  <div class="card-filho-icons">
    <div class="card-filho-info">
      <%= render("shared/avatar", family_member: family_member) %>
      <p><%= family_member.name %> <br> <%= family_member.points %> <%= svg_tag("star.svg") %> </p>
    </div>
    <div class="card-filho-info">
      <%= link_to(tasks_path(user_son: family_member.id)) do %>
        <%= image_tag("btn-task.svg") %>
        <p><%= family_member.tasks.count %> tarefas</p>
      <% end %>
    </div>
    <div class="card-filho-info">
      <%= link_to(tasks_path(user_son: family_member.id)) do %>
        <%= image_tag("btn-calendar.svg") %>
        <p><%= family_member.tasks.where.not(deadline: nil).count %> prazos </p>
      <% end %>
    </div>
  </div>
  <div class="card-filho-icons">
    <div class="card-filho-info">
      <%= link_to(goals_path(user_son: family_member.id)) do %>
        <%= image_tag("btn-target.svg") %>
        <p><%= family_member.goals.where(finished: false).count %> metas</p>
      <% end %>
    </div>
    <div class="card-filho-info">
      <%= link_to(goals_path(user_son: family_member.id)) do %>
        <%= image_tag("btn-cup.svg") %>
        <p><%= family_member.goals.where(finished: true).count %> conquistas</p>
      <% end %>
    </div>
    <div class="card-filho-info">
      <%= link_to(goals_path(user_son: family_member.id)) do %>
        <%= image_tag("btn-justice.svg") %>
        <p><%= family_member.punishments.all.count %> punições</p>
      <% end %>
    </div>
  </div>
</div>
