<div class="card-task <%= css_class %>">
  <div class="card-task-content">
    <% if task.deadline.present? %>
      <div class="card-tasks-deadline">
        <h6>
          <%= task.deadline.day %>-<%= task.deadline.month %>
          <br>
          <%= task.deadline.year %>
        </h6>
      </div>
    <% end %>
    <div class="card-task-infos">
      <h6><%= task.title %></h6>
      <p>
        <strong>Terminada?<% if task.finished? %> <i class="fas fa-check-circle task-finished"></i> <% else %> <i class="fas fa-times-circle task-unfinished"></i> <% end %> </strong>
        <br>
        <span class="card-tasks-points d-inline"><% task.points.times do %> <i class="fas fa-star d-inline"></i> <% end %> </span>
      </p>
    </div>
  </div>
    <div>
      <%= link_to(@user.admin? ? "validar" : "finalizar", task_validate_path(task.id), class: "btn-aprove-task")%>
    </div>
</div>
