<div class="card-goal <%= css_class %>">
  <%= link_to(add_points_path(goal.id)) do %>
    <div class="progress card-goal-progress">
      <span>
        <h5><%= goal.title %></h5>
      </span>
      <div class="progress-bar <%= goal.finished ? 'bg-success' : 'bg-warning' %> card-goal-progress-content" role="progressbar" style="width:
        <%= ((goal.points.to_f / goal.total_points.to_f) * 100).to_i %>%" aria-valuenow="
        <%= ((goal.points.to_f / goal.total_points.to_f) * 100).to_i %>" aria-valuemin="0" aria-valuemax="100">
        <h5><%= goal.title %></h5>
      </div>
    </div>
  <% end %>
  <div class="card-goal-infos">
    <span>juntou <%= goal.points %> <%= svg_tag("star.svg") %></span><span>faltam <%= goal.total_points - goal.points %> <%= svg_tag("star.svg") %></span>
  </div>
</div>
