<% content_for(:css_class_navbar, "navbar-home") %>
<% content_for(:css_class_navbar_dropdown, "navbar-home-dropdown") %>

<div class="banner-home">
  <div class="banner-home-title">
    <h1>Piggy Bank</h1>
    <h3>Acompanhe seu Kiddo nas suas tarefas e conquistas</h3>
  </div>
  <div class="banner-home-icons">
    <%= image_tag 'btn-task.svg' %>
    <%= image_tag 'btn-calendar.svg' %>
    <%= image_tag 'btn-cup.svg' %>
    <%= image_tag 'btn-target.svg' %>
    <%= image_tag 'btn-justice.svg' %>
  </div>
  <div>
    <%= link_to("go!", families_path, class: "btn-go") %>
  </div>
  <div class="banner-home-text">
    <p>Os prazos perdidos de tarefas escolar e as discussoes sobre mesada acabam aqui.<br>
      Crie metas a conquistar com seu kiddo!</p>
  </div>
</div>
