<div class='container' style='background-color: rgba(90,194,201,0.8);'>
  <h1>Piggy Bank</h1>
  <h3>Acompanhe seu Kiddo nas suas tarefas e conquistas</h3>

<div class='container-bttns'>
 <h6>Tarefas</h6>
  <%= image_tag 'button-task.svg' %>

  <h6>Conquistas</h6>
  <%= image_tag 'button-cup.svg' %>

  <h6>Metas</h6>
  <%= image_tag 'button-target.svg' %>

  <h6>Calendario</h6>
  <%= image_tag 'button-calendar.svg' %>

  <h6>Punição</h6>
  <%= image_tag 'button-justice.svg' %>

</div>
  <p>Os prazos perdidos de tarefas escolar e as discussoes sobre mesada acabam aqui.
Crie metas a conquistar com seu kiddo! </p>

<a class="btn btn-round" href="#">GO</a>

</div>
