<% content_for(:navbar_class, "navbar-home") %>
<div class="banner-home">
  <div class="banner-home-title">
    <h1>Piggy Bank</h1>
    <h3>Acompanhe seu Kiddo nas suas tarefas e conquistas</h3>
  </div>
  <div class="banner-home-icons">
    <%= image_tag 'button-task.svg' %>
    <%= image_tag 'button-calendar.svg' %>
    <%= image_tag 'button-cup.svg' %>
    <%= image_tag 'button-target.svg' %>
    <%= image_tag 'button-justice.svg' %>
  </div>
  <div>
    <%= link_to("go!", families_path, class: "btn-go") %>
  </div>
  <div class="banner-home-text">
    <p>Os prazos perdidos de tarefas escolar e as discussoes sobre mesada acabam aqui.<br>
      Crie metas a conquistar com seu kiddo!</p>
  </div>
</div>
