<div class="container.fluid index-goals">
  <div class="row">
    <div class="col-12 col-md-4">
      <h2>metas de</h2>
      <% if current_user.admin? %>
        <div class="card-family-members">
          <% @user_family.each do |family_member| %>
            <%= link_to(goals_path(user_son: family_member)) do %>
              <%= render("shared/avatar", family_member: family_member) %>
              <p><%= family_member.name %></p>
            <% end %>
          <% end %>
        </div>
        <%= link_to("Nova meta", new_goal_path, class: "btn-action") %>
      <% else %>
        <%= render("shared/avatar", family_member: @user) %>
        <p><%= @user.name %></p>
      <% end %>
    </div>
    <div class="col-12 col-md-8">
      <% if @selected_son.present? %>
        <h2 class="goal-type-title"> <%= svg_tag('target.svg') %>metas em andamento</h2>
        <div class="goals">
          <% @son_goals.each do |goal| %>
            <%= render("shared/card-goal", goal: goal, css_class: "mb-3") %>
          <% end %>
        </div>
        <h2 class="goal-type-title"> <%= svg_tag('target-arrow.svg') %>metas atingidas</h2>
        <div class="goals">
          <% @son_goals_finished.each do |goal| %>
            <%= render("shared/card-goal", goal: goal, css_class: "mb-3") %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
